{% extends 'base.twig' %}

{% block content %}

<p>Welcome to the Blood Pressure Log</p>
<p>Free and easy to use.</p>

<p>Track your blood pressure readings and get simple statistics</p>
<p>All readings will be kept private and shared with no one.</p>

<ul>
<li>User may add multiple aliases (e.g. your parents or other members of your family)</li>
<li>Show Todays Readings</li>
<li>Show Daily Average (Last 30 days)</li>
<li>Show Weekly Average (1 year)</li>
</ul>

<p><a href="/account/signin">Signin</a> or <a href="/account/signup">Signup</a> to get started.</p>

{% endblock %}