{% extends 'base.twig' %}

{% block content %}

<h3 class="sub-menu">Welcome to the Blood Pressure Log</h3>
<p>Free and easy to use.</p>

<p>Track your blood pressure readings and get simple statistics</p>

<ul>
<li>User may add multiple aliases (e.g. your parents or children)</li>
<li>Show Today's Readings</li>
<li>Show Daily Average (30 days)</li>
<li>Show Weekly Average (52 weeks)</li>
</ul>

<p><a href="/account/signin">Signin</a> or <a href="/account/signup">Signup</a> to get started.</p>

{% endblock %}