{% extends 'base.twig' %}

{% block content %}

<p>Welcome to the Blood Pressure Log!</p>
<p>Track your blood pressure readings and monitor your health. Keep a record of your measurements, identify trends over time, share data with your healthcare provider, and make informed decisions.</p>
<p>Please note that all of your readings will be kept private and shared with no one.</p>
<p><a href="/account/signin">Signin</a> or <a href="/account/signup">Signup</a> to get started.</p>

{% endblock %}